<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="st" class="mypackage.Student " autowire="byName">
	<property name="studentid" value ="1001" />
	<property name="studentname" value="Namita" />
	
	
	</bean>
	<bean id="student1" class="mypackage.Student">
	<constructor-arg index="0" value="1002"  />
	<constructor-arg index="1" value="Malika"  />
	
	<constructor-arg index="2" ref="course2"/> 
	</bean>
	
	<bean id="cr" class="mypackage.Course">
	<property name="courseid" value="101"  />
	<property name="coursename" value="JAVA"  />
	
	</bean>
	<bean id="course2" class="mypackage.Course">
	<property name="courseid" value="102"  />
	<property name="coursename" value=".net"  />
	
	</bean>
	
	
	
	
	
		
		
</beans>